{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock head %}

{% block content %}

<h1> Search by Date to Find the Astronomy Picture for That Day! </h1>
<form action="{% url 'pics_create' %}" method = "get">
    {% csrf_token %}
    <input type="text" name="date" placeholder="YYYY-MM-DD">
    <button type="submit" value="Search"> Search</button> 
</form> 



 {% comment %} {% if url %}
   <form action="{% url 'pics_add' %}" method = "post">
     {% csrf_token %}
     <h1 name="title">Title: {{title}} </h1>
     <img name="url" src="{{url}}" height="300px" width="300px"> 
     <h4 name="date">Date: {{date}} </h4>
     <button type="submit" value="Save">Save</button> 
</form> 
  {% else %}
    <h4>Search for a picture</h4>  
    {% endif %} {% endcomment %}
    {% endblock %}