{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pics-index.css' %}"/>
{% endblock %}

{% block content %}
<h1> All Pictures </h1>
<section class ="Space-pics">

  {% if url %}
  <h1> Would You Like to Save This Picture? </h1>
  <img name="url" src="{{url}}" height="300px" width="300px"> 
  <h1 name="title">Title: {{title}} </h1>
  <h4 name="date">Date: {{date}} </h4>
  <form action="{% url 'pics_add' %}" method = "post">
    {% csrf_token %}
    <input hidden value="{{ title}}" name="title">
    <input hidden value="{{ date}}" name="date">
    <input hidden value="{{ url}}" name="url">
    <button type="submit" value="save">Save</button> 
</form> 
 {% else %}
   <h4>Search for a picture</h4>  
   {% endif %}
  </section>

{% endblock %}