{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
<div><h1 style="color: white; margin-right: 25px; font-size: 3em;"> Welcome to Spacey!! </h1>
  </div>
 <div> <img style="border-radius: 50%;" class="space-home" src="{% static 'images/homepic.jpg' %}" alt="Outerspace homepage" />
 </div>
{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}
{% endblock %}