.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.date-form {
  padding:10px;
  margin:10px 0; 
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}


.search-btn {
  align-self: flex-end;
  margin-right: 40px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

